@charset "UTF-8";

/* https://www.webtype.com/info/articles/fonts-weights/ */

.font-weight-100
{
    font-weight: 100;
}

.font-weight-200
{
    font-weight: 200;
}

.font-weight-300
{
    font-weight: 300;
}

.font-weight-400
{
    font-weight: 400;
}

.font-weight-500
{
    font-weight: 500;
}

.font-weight-600
{
    font-weight: 600;
}

.font-weight-700
{
    font-weight: 700;
}

.font-weight-800
{
    font-weight: 800;
}

.font-weight-900
{
    font-weight: 900;
}

.font-size-10px
{
    font-size: 10px;
}

.font-size-12px
{
    font-size: 12px;
}

.font-size-14px
{
    font-size: 14px;
}

.font-size-15px
{
    font-size: 15px;
}

.font-size-16px
{
    font-size: 16px;
}

.font-size-17px
{
    font-size: 17px;
}

.font-size-18px
{
    font-size: 18px;
}

.font-size-19px
{
    font-size: 19px;
}

.font-size-20px
{
    font-size: 20px;
}

.font-size-25px
{
    font-size: 25px;
}

.font-size-30px
{
    font-size: 30px;
}

.font-size-35px
{
    font-size: 35px;
}