@charset "UTF-8";

/******************************* percentage styles ****************************/

.height-auto
{
    height: auto;
}

.height-10
{
    height: 10%;
}

.height-12_5
{
    height: 12.5%;
}

.height-16_7
{
    height: 16.667%;
}

.height-20
{
    height: 20%;
}

.height-25
{
    height: 25%;
}

.height-30
{
    height: 30%;
}

.height-33
{
    height: 33.333%;
}

.height-40
{
    height: 40%;
}

.height-50
{
    height: 50%;
}

.height-60
{
    height: 60%;
}

.height-67
{
    height: 66.667%;
}

.height-70
{
    height: 70%;
}

.height-75
{
    height: 75%;
}

.height-80
{
    height: 80%;
}

.height-83_3
{
    height: 83.333%;
}

.height-90
{
    height: 90%;
}

.height-100
{
    height: 100%;
}


/********************************** height styles ******************************/

.height-10px
{
    height: 10px;
}

.height-20px
{
    height: 20px;
}

.height-28px
{
    height: 28px;
}

.height-30px
{
    height: 30px;
}

.height-40px
{
    height: 40px;
}

.height-50px
{
    height: 50px;
}

.height-60px
{
    height: 60px;
}

.height-70px
{
    height: 70px;
}

.height-80px
{
    height: 80px;
}

.height-90px
{
    height: 90px;
}

.height-100px
{
    height: 100px;
}

.height-110px
{
    height: 110px;
}

.height-120px
{
    height: 120px;
}

.height-130px
{
    height: 130px;
}

.height-140px
{
    height: 140px;
}

.height-150px
{
    height: 150px;
}

.height-160px
{
    height: 160px;
}

.height-170px
{
    height: 170px;
}

.height-180px
{
    height: 180px;
}

.height-190px
{
    height: 190px;
}

.height-200px
{
    height: 200px;
}

.height-220px
{
    height: 220px;
}

.height-240px
{
    height: 240px;
}

.height-250px
{
    height: 250px;
}

.height-260px
{
    height: 260px;
}

.height-280px
{
    height: 280px;
}

.height-300px
{
    height: 300px;
}

.height-350px
{
    height: 350px;
}

.height-400px
{
    height: 400px;
}

.height-500px
{
    height: 500px;
}

.height-600px
{
    height: 600px;
}

.height-700px
{
    height: 700px;
}

.height-800px
{
    height: 800px;
}

.height-900px
{
    height: 900px;
}

.height-1000px
{
    height: 1000px;
}

.height-1440px
{
    height: 1440px;
}

