@charset "UTF-8";

.m-auto
{
    margin: auto;
}

.m-0px
{
    margin: 0px;
}

.m-5px
{
    margin: 5px;
}

.m-10px
{
    margin: 10px;
}

.m-15px
{
    margin: 15px;
}

.m-20px
{
    margin: 20px;
}

/* margins left, right, top, bottom */

.ml-auto
{
    margin-left: auto;
}

.ml-0px
{
    margin-left: 0px;
}

.ml-1px
{
    margin-left: 1px;
}

.ml-2px
{
    margin-left: 2px;
}

.ml-3px
{
    margin-left: 3px;
}

.ml-4px
{
    margin-left: 4px;
}

.ml-5px
{
    margin-left: 5px;
}

.ml-6px
{
    margin-left: 6px;
}

.ml-7px
{
    margin-left: 7px;
}

.ml-8px
{
    margin-left: 8px;
}

.ml-9px
{
    margin-left: 9px;
}

.ml-10px
{
    margin-left: 10px;
}

.ml-11px
{
    margin-left: 11px;
}

.ml-12px
{
    margin-left: 12px;
}

.ml-13px
{
    margin-left: 13px;
}

.ml-14px
{
    margin-left: 14px;
}

.ml-15px
{
    margin-left: 15px;
}

.ml-16px
{
    margin-left: 16px;
}

.ml-17px
{
    margin-left: 17px;
}

.ml-18px
{
    margin-left: 18px;
}

.ml-19px
{
    margin-left: 19px;
}

.ml-20px
{
    margin-left: 20px;
}

.ml-21px
{
    margin-left: 21px;
}

.ml-22px
{
    margin-left: 22px;
}

.ml-23px
{
    margin-left: 23px;
}

.ml-24px
{
    margin-left: 24px;
}

.ml-25px
{
    margin-left: 25px;
}

.ml-30px
{
    margin-left: 30px;
}

.ml-40px
{
    margin-left: 40px;
}

.ml-50px
{
    margin-left: 50px;
}

.ml-60px
{
    margin-left: 60px;
}

.ml-70px
{
    margin-left: 70px;
}

.ml-80px
{
    margin-left: 80px;
}

.ml-90px
{
    margin-left: 90px;
}

.ml-100px
{
    margin-left: 100px;
}

.ml-110px
{
    margin-left: 110px;
}

.ml-120px
{
    margin-left: 120px;
}

.ml-130px
{
    margin-left: 130px;
}

.ml-140px
{
    margin-left: 140px;
}

.ml-150px
{
    margin-left: 150px;
}

.ml-160px
{
    margin-left: 160px;
}

.ml-170px
{
    margin-left: 170px;
}

.ml-180px
{
    margin-left: 180px;
}

.ml-190px
{
    margin-left: 190px;
}

.ml-200px
{
    margin-left: 200px;
}


.mr-auto
{
    margin-right: auto;
}

.mr-0px
{
    margin-right: 0px;
}

.mr-1px
{
    margin-right: 1px;
}

.mr-2px
{
    margin-right: 2px;
}

.mr-3px
{
    margin-right: 3px;
}

.mr-4px
{
    margin-right: 4px;
}

.mr-5px
{
    margin-right: 5px;
}

.mr-6px
{
    margin-right: 6px;
}

.mr-7px
{
    margin-right: 7px;
}

.mr-8px
{
    margin-right: 8px;
}

.mr-9px
{
    margin-right: 9px;
}

.mr-10px
{
    margin-right: 10px;
}

.mr-11px
{
    margin-right: 11px;
}

.mr-12px
{
    margin-right: 12px;
}

.mr-13px
{
    margin-right: 13px;
}

.mr-14px
{
    margin-right: 14px;
}

.mr-15px
{
    margin-right: 15px;
}

.mr-16px
{
    margin-right: 16px;
}

.mr-17px
{
    margin-right: 17px;
}

.mr-18px
{
    margin-right: 18px;
}

.mr-19px
{
    margin-right: 19px;
}

.mr-20px
{
    margin-right: 20px;
}

.mr-21px
{
    margin-right: 21px;
}

.mr-22px
{
    margin-right: 22px;
}

.mr-23px
{
    margin-right: 23px;
}

.mr-24px
{
    margin-right: 24px;
}

.mr-25px
{
    margin-right: 25px;
}

.mr-30px
{
    margin-right: 30px;
}

.mr-40px
{
    margin-right: 40px;
}

.mr-50px
{
    margin-right: 50px;
}

.mr-60px
{
    margin-right: 60px;
}

.mr-70px
{
    margin-right: 70px;
}

.mr-80px
{
    margin-right: 80px;
}

.mr-90px
{
    margin-right: 90px;
}

.mr-100px
{
    margin-right: 100px;
}

.mr-110px
{
    margin-right: 110px;
}

.mr-120px
{
    margin-right: 120px;
}

.mr-130px
{
    margin-right: 130px;
}

.mr-140px
{
    margin-right: 140px;
}

.mr-150px
{
    margin-right: 150px;
}

.mr-160px
{
    margin-right: 160px;
}

.mr-170px
{
    margin-right: 170px;
}

.mr-180px
{
    margin-right: 180px;
}

.mr-190px
{
    margin-right: 190px;
}

.mr-200px
{
    margin-right: 200px;
}


.mt-0px
{
    margin-top: 0px;
}

.mt-1px
{
    margin-top: 1px;
}

.mt-2px
{
    margin-top: 2px;
}

.mt-3px
{
    margin-top: 3px;
}

.mt-4px
{
    margin-top: 4px;
}

.mt-5px
{
    margin-top: 5px;
}

.mt-6px
{
    margin-top: 6px;
}

.mt-7px
{
    margin-top: 7px;
}

.mt-8px
{
    margin-top: 8px;
}

.mt-9px
{
    margin-top: 9px;
}

.mt-10px
{
    margin-top: 10px;
}

.mt-11px
{
    margin-top: 11px;
}

.mt-12px
{
    margin-top: 12px;
}

.mt-13px
{
    margin-top: 13px;
}

.mt-14px
{
    margin-top: 14px;
}

.mt-15px
{
    margin-top: 15px;
}

.mt-16px
{
    margin-top: 16px;
}

.mt-17px
{
    margin-top: 17px;
}

.mt-18px
{
    margin-top: 18px;
}

.mt-19px
{
    margin-top: 19px;
}

.mt-20px
{
    margin-top: 20px;
}

.mt-21px
{
    margin-top: 21px;
}

.mt-22px
{
    margin-top: 22px;
}

.mt-23px
{
    margin-top: 23px;
}

.mt-24px
{
    margin-top: 24px;
}

.mt-25px
{
    margin-top: 25px;
}

.mt-30px
{
    margin-top: 30px;
}

.mt-40px
{
    margin-top: 40px;
}

.mt-50px
{
    margin-top: 50px;
}

.mt-60px
{
    margin-top: 60px;
}

.mt-70px
{
    margin-top: 70px;
}

.mt-80px
{
    margin-top: 80px;
}

.mt-90px
{
    margin-top: 90px;
}

.mt-100px
{
    margin-top: 100px;
}

.mt-110px
{
    margin-top: 110px;
}

.mt-120px
{
    margin-top: 120px;
}

.mt-130px
{
    margin-top: 130px;
}

.mt-140px
{
    margin-top: 140px;
}

.mt-150px
{
    margin-top: 150px;
}

.mt-160px
{
    margin-top: 160px;
}

.mt-170px
{
    margin-top: 170px;
}

.mt-180px
{
    margin-top: 180px;
}

.mt-190px
{
    margin-top: 190px;
}

.mt-200px
{
    margin-top: 200px;
}


.mb-0px
{
    margin-bottom: 0px;
}

.mb-1px
{
    margin-bottom: 1px;
}

.mb-2px
{
    margin-bottom: 2px;
}

.mb-3px
{
    margin-bottom: 3px;
}

.mb-4px
{
    margin-bottom: 4px;
}

.mb-5px
{
    margin-bottom: 5px;
}

.mb-6px
{
    margin-bottom: 6px;
}

.mb-7px
{
    margin-bottom: 7px;
}

.mb-8px
{
    margin-bottom: 8px;
}

.mb-9px
{
    margin-bottom: 9px;
}

.mb-10px
{
    margin-bottom: 10px;
}

.mb-11px
{
    margin-bottom: 11px;
}

.mb-12px
{
    margin-bottom: 12px;
}

.mb-13px
{
    margin-bottom: 13px;
}

.mb-14px
{
    margin-bottom: 14px;
}

.mb-15px
{
    margin-bottom: 15px;
}

.mb-16px
{
    margin-bottom: 16px;
}

.mb-17px
{
    margin-bottom: 17px;
}

.mb-18px
{
    margin-bottom: 18px;
}

.mb-19px
{
    margin-bottom: 19px;
}

.mb-20px
{
    margin-bottom: 20px;
}

.mb-21px
{
    margin-bottom: 21px;
}

.mb-22px
{
    margin-bottom: 22px;
}

.mb-23px
{
    margin-bottom: 23px;
}

.mb-24px
{
    margin-bottom: 24px;
}

.mb-25px
{
    margin-bottom: 25px;
}

.mb-30px
{
    margin-bottom: 30px;
}

.mb-40px
{
    margin-bottom: 40px;
}

.mb-50px
{
    margin-bottom: 50px;
}

.mb-60px
{
    margin-bottom: 60px;
}

.mb-70px
{
    margin-bottom: 70px;
}

.mb-80px
{
    margin-bottom: 80px;
}

.mb-90px
{
    margin-bottom: 90px;
}

.mb-100px
{
    margin-bottom: 100px;
}

.mb-110px
{
    margin-bottom: 110px;
}

.mb-120px
{
    margin-bottom: 120px;
}

.mb-130px
{
    margin-bottom: 130px;
}

.mb-140px
{
    margin-bottom: 140px;
}

.mb-150px
{
    margin-bottom: 150px;
}

.mb-160px
{
    margin-bottom: 160px;
}

.mb-170px
{
    margin-bottom: 170px;
}

.mb-180px
{
    margin-bottom: 180px;
}

.mb-190px
{
    margin-bottom: 190px;
}

.mb-200px
{
    margin-bottom: 200px;
}

