@charset "UTF-8";


/* padding overrides */

.no-padding {
    padding: 0px !important;
}

/* padding all directions */

.p-0px {
    padding: 0px;
}

.p-5px {
    padding: 5px;
}

.p-10px {
    padding: 10px;
}

.p-15px {
    padding: 15px;
}

.p-20px {
    padding: 20px;
}

/* paddings left, right, top, bottom */

.pl-0px {
    padding-left: 0px;
}

.pl-1px {
    padding-left: 1px;
}

.pl-2px {
    padding-left: 2px;
}

.pl-3px {
    padding-left: 3px;
}

.pl-4px {
    padding-left: 4px;
}

.pl-5px {
    padding-left: 5px;
}

.pl-6px {
    padding-left: 6px;
}

.pl-7px {
    padding-left: 7px;
}

.pl-8px {
    padding-left: 8px;
}

.pl-9px {
    padding-left: 9px;
}

.pl-10px {
    padding-left: 10px;
}

.pl-15px {
    padding-left: 15px;
}

.pl-20px {
    padding-left: 20px;
}

.pl-25px {
    padding-left: 25px;
}

.pl-30px {
    padding-left: 30px;
}

.pl-50px {
    padding-left: 50px;
}

.pl-100px {
    padding-left: 100px;
}

.pl-250px {
    padding-left: 250px;
}


.pr-0px {
    padding-right: 0px;
}

.pr-1px {
    padding-right: 1px;
}

.pr-2px {
    padding-right: 2px;
}

.pr-3px {
    padding-right: 3px;
}

.pr-4px {
    padding-right: 4px;
}

.pr-5px {
    padding-right: 5px;
}

.pr-6px {
    padding-right: 6px;
}

.pr-7px {
    padding-right: 7px;
}

.pr-8px {
    padding-right: 8px;
}

.pr-9px {
    padding-right: 9px;
}

.pr-10px {
    padding-right: 10px;
}

.pr-15px {
    padding-right: 15px;
}

.pr-20px {
    padding-right: 20px;
}

.pr-25px {
    padding-right: 25px;
}

.pr-30px {
    padding-right: 30px;
}

.pr-50px {
    padding-right: 50px;
}

.pr-100px {
    padding-right: 100px;
}

.pr-250px {
    padding-right: 250px;
}


.pt-0px {
    padding-top: 0px;
}

.pt-1px {
    padding-top: 1px;
}

.pt-2px {
    padding-top: 2px;
}

.pt-3px {
    padding-top: 3px;
}

.pt-4px {
    padding-top: 4px;
}

.pt-5px {
    padding-top: 5px;
}

.pt-6px {
    padding-top: 6px;
}

.pt-7px {
    padding-top: 7px;
}

.pt-8px {
    padding-top: 8px;
}

.pt-9px {
    padding-top: 9px;
}

.pt-10px {
    padding-top: 10px;
}

.pt-15px {
    padding-top: 15px;
}

.pt-20px {
    padding-top: 20px;
}

.pt-25px {
    padding-top: 25px;
}

.pt-30px {
    padding-top: 30px;
}

.pt-50px {
    padding-top: 50px;
}


.pb-0px {
    padding-bottom: 0px;
}

.pb-1px {
    padding-bottom: 1px;
}

.pb-2px {
    padding-bottom: 2px;
}

.pb-3px {
    padding-bottom: 3px;
}

.pb-4px {
    padding-bottom: 4px;
}

.pb-5px {
    padding-bottom: 5px;
}

.pb-6px {
    padding-bottom: 6px;
}

.pb-7px {
    padding-bottom: 7px;
}

.pb-8px {
    padding-bottom: 8px;
}

.pb-9px {
    padding-bottom: 9px;
}

.pb-10px {
    padding-bottom: 10px;
}

.pb-15px {
    padding-bottom: 15px;
}

.pb-20px {
    padding-bottom: 20px;
}

.pb-25px {
    padding-bottom: 25px;
}

.pb-30px {
    padding-bottom: 30px;
}

